header {
    display: flex;
    justify-content: space-between;
    background-color: #E96191;
    border-bottom: 10px solid black;
    padding: 10px 20px;

}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFFFFF;
    font-size: 20px;
    font-family: "Fira Code" Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    background-color: #98E2E1;
    width: 10px;
    height: 10px;
    margin-right: 10px;

}

#button {display: inline-block;
    background-color: #98E2E1;
    
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
}