.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E96191;
    width: 280px;
    height: 280px;
    box-shadow: 10px 10px 0 #fff;
}

.card-project.-blue {
    background-color: #527B98;
}