.carousel {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    overflow: hidden;
}

.carousel::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 5px;
    background-color: black;
}

.carousel .items-carousel {
    transition: transform 100ms ease-in-out;
    
}
 