.progress-bar {
    background-color: #fff;
    border: 5px solid #000;
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

::-webkit-progress-value {
    background-color: #89C7C6;
  }

  ::-webkit-progress-bar {
    background-color: #fff;
  }

  ::-moz-progress-bar {
    background-color: #89C7C6;
  }