.skill-tec {
    font-family: "Press Start 2P", sans-serif;
    font-size: 25px;
    color: #fff;
    margin-left: 40%;
    

}

.skill-tec .icon {
    margin-right: 25px;
    width: 90px;
}

.skill-tec .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .title {
    margin-bottom: 10px;
}

@media (max-width: 801px) {
    .skill-tec {
        font-family: "Press Start 2P", sans-serif;
        font-size: 25px;
        color: #fff;
        margin-left: 10%;
    
    }
}